/*
	Bootstrap Sass Theme
	Author: Radhika Vanjara
	Version: 0.0.1
*/
/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, ../scss/base/_normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 18, ../scss/base/_normalize.scss */
.top-inner {
  padding: 90px 0 30px 0;
}

/* line 22, ../scss/base/_normalize.scss */
.clearfix {
  clear: both;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #282828;
}

/* line 8, ../scss/base/_base.scss */
container {
  display: inline-block;
}

/* line 12, ../scss/base/_base.scss */
a {
  color: #eaa606;
}

/* line 16, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 20, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 24, ../scss/base/_base.scss */
img.device {
  width: 100%;
}

/* line 28, ../scss/base/_base.scss */
img.device-small {
  width: 70%;
  margin-bottom: -40px;
}

/* MODULES - Individual site components */
/* LAYOUTS - Page layout styles */
/* Navbar */
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  width: auto;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #f1f4d8;
  margin-bottom: 30px;
}
/* line 12, ../scss/layouts/_nav.scss */
.navbar a {
  color: #eaa606 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 22, ../scss/layouts/_nav.scss */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* line 35, ../scss/layouts/_nav.scss */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* line 44, ../scss/layouts/_nav.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* line 48, ../scss/layouts/_nav.scss */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Footer */
/* line 3, ../scss/layouts/_footer.scss */
.footer-main {
  background: #8c6303;
  color: #ffffff;
  border-top: 5px solid #68c3d9;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100;
}
/* line 10, ../scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}
/* line 14, ../scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}
/* line 19, ../scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}
