/*
	Bootstrap Sass Theme
	Author: Radhika Vanjara
	Version: 0.0.1
*/
/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, ../scss/base/_normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 18, ../scss/base/_normalize.scss */
.top-inner {
  padding: 90px 0 30px 0;
}

/* line 22, ../scss/base/_normalize.scss */
.clearfix {
  clear: both;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #282828;
}

/* line 8, ../scss/base/_base.scss */
a {
  color: #eaa606;
}

/* line 12, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 16, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 20, ../scss/base/_base.scss */
img.device {
  width: 100%;
}

/* line 24, ../scss/base/_base.scss */
img.device-small {
  width: 70%;
  margin-bottom: -40px;
}

/* MODULES - Individual site components */
/* LAYOUTS - Page layout styles */
/* Navbar */
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  width: 95%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #f1f4d8;
  margin-bottom: 30px;
}
/* line 12, ../scss/layouts/_nav.scss */
.navbar a {
  color: #eaa606 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 22, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #eaa606 !important;
  color: #fff !important;
}

/* line 26, ../scss/layouts/_nav.scss */
.navbar-header {
  float: none;
}

/* line 29, ../scss/layouts/_nav.scss */
.navbar-toggle {
  display: block;
}

/* line 33, ../scss/layouts/_nav.scss */
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* line 37, ../scss/layouts/_nav.scss */
.navbar-toggle-collapse.collapse {
  display: none!important;
}

/* line 40, ../scss/layouts/_nav.scss */
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}

/* line 44, ../scss/layouts/_nav.scss */
.navbar-nav > li {
  float: none;
}

/* Footer */
/* line 3, ../scss/layouts/_footer.scss */
.footer-main {
  background: #8c6303;
  color: #ffffff;
  border-top: 5px solid #68c3d9;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100;
}
/* line 10, ../scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}
/* line 14, ../scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}
/* line 19, ../scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}
