/* Font Colors */

$base-font-size:15px;
$base-font-family:"Georgia", sans-serif;
$base-font-color:#282828;


/* Background Colors */

$primary-color:#eaa606;
$secondary-color:#68c3d9;
$light-color:#f1f4d8;
$dark-color:#8c6303;